* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #0c111b;
  position: relative;
  font-family: roboto, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  /*height: 80px;*/
  position: fixed;
  top: 0;
  left: 0;
  /*padding: 0 4%;*/
  padding: 5px 2%;
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
  transition: 0.6s;
}
nav.sticky {
  padding: 15px 60px;
  background: #0c111b;
}
.brand-logo {
  height: 70px;
}
.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.9;
}
.right-container {
  display: block;
  margin-left: auto;
}
.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: #fff;
  outline: none;
  height: 30px;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.search-box:focus {
  width: 400px;
  border-color: #1f80e8;
}
.sub-btn {
  background: #1f80e8;
  height: 24px;
  padding: 0 12px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.sub-btn:hover {
  background: #0c72dff6;
}
.login-link {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}
.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}
.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}
.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}
.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color: #fff;
}
.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}
.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}
.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #030b17;
  transition: all 300ms ease-in-out;
}
.video-card:hover {
  transform: scale(1.07);
}
.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-video {
  position: absolute;
}
.video-card:hover .video-card-image {
  display: none;
}
.title {
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.title:hover {
  color: #1f80e8;
}
.movies-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}
.card-container {
  width: 92%;
  padding-left: 0px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}
.card-container::webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover .card-body {
  opacity: 1;
}
.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}
.name {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 60%;
}
.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}
.watchlist-btn {
  position: absolute;
  width: 130px;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px auto;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
  font-size: 13px;
  padding-left: 25px;
}
.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url("/images/add.png");
  background-size: cover;
  transform: scale(0.4);
}
.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
/* Login starts from here */

.login-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-outer .container {
  /*position: relative;*/
  height: 440px;
  width: 460px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #192133, #111826);
}

.login-outer .container .login-inner {
  position: relative;
  padding: 35px;
}
.login-outer .container .login-inner .login-inner-close img {
  color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

.login-outer .container .login-inner .login-inner-heading {
  margin: 80px 20px 50px 20px;
  color: #fff;
}

.login-outer .container .login-inner .login-inner-heading h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.login-outer .container .login-inner .login-inner-fb-email {
  margin: 0 20px 0 20px;
}

.login-outer .container .login-inner .login-inner-fb-email a {
  text-decoration: none;
  height: 50px;
  width: 100%;
  display: inline-block;
  border: 1px solid #1f80e0;
  color: #1f80e0;
  background: rgba(31, 127, 224, 0.1);
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
}

.login-outer .container .login-inner .login-inner-or {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 16px;
  padding: 20px 0 30px 0;
}

form .form-group-wrapper .form-control-wrapper {
  margin: 0 20px 0 20px;
  position: relative;
  height: 35px;
  width: 350px;
}

.form-group-wrapper .form-control-wrapper span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-right: 1px solid #334366;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 8px;
  position: absolute;
  left: 0;
}

.form-group-wrapper .form-control-wrapper .form-control {
  position: absolute;
  padding-left: 48px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #1f80e0;
  transition: all 300ms ease-in-out;
}

.form-group-wrapper .form-control-wrapper .form-control:focus {
  border-bottom: 2px solid #1f80e0;
}
/* custom modal css*/

.login-outer .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 23, 23, 0.5);
  z-index: 90;
  display: none;
}
.login-outer.active .overlay {
  display: block;
}
.login-outer.active .container {
  display: block;
}

.login-outer .container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: all 300ms ease-in-out;
  display: none;
}
